DOLPHIN_HOST=127.0.0.1
DOLPHIN_PORT=8848
DOLPHIN_USERNAME=admin
DOLPHIN_PASSWORD=123456
DOLPHIN_CORE_DATABASE=dfs://CoreData
DOLPHIN_CORE_TABLE=coreData

INDEX_CODES=000016.SH,000300.SH,000905.SH,000852.SH
DATA_START_DATE=2010-01-01
TUSHARE_TOKEN=
